
body {
  background-color: #383838;
}

.fcol-wide {
  width: 60%;
  /* border: 1px greenyellow dashed; */
}

.fcol-narrow {
  max-width: 40%;
  width: 40%;
  text-align: left;
}

img, video, canvas, iframe {
 max-width: 800px;
 aspect-ratio: 1 / 1;
 width: 100%;
 float: right;
 border: none;
}


.image_and_code_row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10vh;
  margin-top: 5vh;
}
